
<div class="cp response align-center position">
    <p class="cp maintext">Are you sure you want to Delete</p>
    <p class="cp paragraph"><a class="cp ref-link" href="#">Click here for more details</a></p>
    <a class="cp button" asp-controller="Home" asp-action="Index">Okay</a>
</div>
