
<div class="align-center cp details">
    <div class="ui raised brown segment">
        <div class="ui large header" style="color: #6e2525;" >Details</div>
        <p class="cp middletext">
            Venue:
            <br/>
            <strong>Siwela Hall, University of Zambia</strong>
            <br/>
            <br/>
            Time:
            <br/>
            <strong>Friday:</strong> 17:00hrs - 19:30hrs
            <br/>
            <strong>Saturday:</strong> 07:00hrs - 19:00hrs
            <br/>
            <strong>Sunday:</strong> 07:00hrs - 19:00hrs
            <br/>
            <strong>Monday:</strong> 07:00hrs - 12:30hrs
            <br/>
        </p>
        <p class="cp food">Breakfast, lunch, and supper will be freely provided!</p>
    </div>
    <div class="ui raised brown segment">
        <div style="color: #6e2525;"class="ui large header">Contacts</div>
        <p class="cp middletext">
            <strong>For More Information Contact:</strong>
            <br/> 
            Pastor Ndong'a Kamelu - 0976 59 42 24
            <br/><br/>
        </p>
    </div>

    <a asp-controller="Home" asp-action="Index" class="align-center cp button">Back</a>
</div>