<div class="cp response align-center">
    <div class="ui segment">
        <h2>HTTP 404</h2>
        <p class="cp maintext">Sorry. Something went wrong on our end.</p>
        <br />
        <br />
        <a class="cp button" asp-controller="Home" asp-action="Index">Click here to go back</a>
    </div>
    
</div>
