

<div class="align-center cp position">
    <p class="cp headertext">Deeper Life Campus Fellowship</p>
    <p class="cp middletext">Invites you to the</p>
    <p class="cp maintext">2017 December <br>Retreat</p>
    <p class="cp middletext" style="margin-bottom: 2em;">22<sup>nd</sup> - 25<sup>th</sup></p>
    <h3 style="color: #6e2525;">It's time to experience The Dawn of a New Beginning. Come join us in the presence of the Lord!</h3>
    <br/>
    <a class="cp button" asp-controller="Home" asp-action="Register">Register</a>
    <p class="cp paragraph"><a class="cp ref-link" asp-controller="Home" asp-action="Details">Click here for more details</a></p>
</div>
