
<div class="cp response align-center position">
    <p class="cp maintext">You have been registered!</p>
    <p class="cp paragraph"><a class="cp ref-link" asp-controller="Home" asp-action="Details">Click here for more details</a></p>
    <a class="cp button" asp-controller="Home" asp-action="Index">Okay</a>
</div>