<!DOCTYPE html>
<html>
<head>
    <title>2017 December Retreat</title>   
    <link rel="stylesheet" href="/lib/semantic-ui/dist/semantic.min.css"/>
    <link rel="stylesheet" href="/css/campus.css" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/lib/semantic-ui/dist/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=0.8"/>
</head>
<body class="Xmainbgrnd">

<div class="cp wrap">@RenderBody()</div>


<footer class="cp footer align-right">
    <p>&copy; 2017 - Deeper Life Campus Fellowship</p>
</footer>

</body>
</html>
